body { 
    background-color: rgb(255, 204, 0);
}

nav {
    background-color: rgb(171, 4, 4);    
}

.navbar-text {
    color:white;
}

header {
    margin: 0 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
}

h5 {
    text-align: center;
}

h6 {
    color:  rgb(171, 4, 4);
}



footer {
    margin: 0 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black; 
}

.box{
    height: 200px; 
    margin: .25rem; 
    background-color: white;
}

.entry_box {
    height: 30px; 
    margin: .25rem; 
    border-radius: 10px;
    border: 0.1rem solid black;
}

.box_text {
    color:  rgb(170, 170, 170);
    font-size: 1vw;
}

.submit_box {
    text-align: center;
    align-items: center;
    height: 30px; 
    margin: .25rem; 
    border-radius: 10px;
    background-color: black;
}

.img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}